<body>
  <div class="headingAndContent-container">
    <h1 class="heading">All problems. Choose one</h1>
    <div class="buttons">
      <button class="createBtn" routerLink="/create-problem">create</button>
      <button class="resetBtn" (click)="setProblemMatrices()">reset</button>
    </div>
  </div>
  <div class="all_problems_box">
    <div *ngFor="let i of allProblemsList; let index = index">
      <app-problem-nxn
        [showGetSolutionBtn]="true"
        [matrix]="i"
        [solutions]="allSolutionsList[index]"
      ></app-problem-nxn>
    </div>
  </div>
</body>
