<div class="problemBoxAndButton-container">
  <div
    class="problem_box"
    [style.grid-template-columns]="setRepeatFunInGridTemplate()"
    [style.grid-template-rows]="setRepeatFunInGridTemplate()"
    [ngStyle]="{
      width:
        matrix.length < 5 ? '200px' : matrix.length < 7 ? '300px' : '370px',
      height:
        matrix.length < 5 ? '200px' : matrix.length < 7 ? '300px' : '370px'
    }"
  >
    <div *ngFor="let i of matrix; let indI = index">
      <div *ngFor="let j of i; let indJ = index">
        <div
          [ngStyle]="{
            'background-color': matrix[indJ][indI] === 1 ? '#e9ff76' : 'gray'
          }"
          class="small_square"
          (click)="changeColor(indI, indJ)"
        >
          <div
            *ngIf="isValueInSolutionsArray([indJ, indI]) && getSolutionsBtn"
            class="square_dot"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="showGetSolutionBtn"
    (click)="getSolutionBtnIsClicked()"
    id="getSolutionsBtn"
  >
    Get solution
  </button>
</div>
